NODE_ENV=development

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://postgres.djwfwgeikjfvyyksbqcz:WC35wleDddoBj7lJ@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.djwfwgeikjfvyyksbqcz:WC35wleDddoBj7lJ@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres"

JWT_SECRET="starlight-anya-jwt-secret"
OTHER_BANK_API="http://localhost:4000"
OTHER_ORG_CODE="anya123456"
ORG_CODE="bond123456"
CLIENT_ID="xv9gqz7mb4t2o5wcf8rjy6kphudsnea0l3ytkpdhqrvcxz1578"
CLIENT_SECRET="m4q7xv9zb2tgc8rjy6kphudsnea0l3ow5ytkpdhqrvcfz926bt"
CA_CODE="certauth00"
ORG_SERIAL_CODE="bondserial00"

NEXT_PUBLIC_CLIENT_ID="xv9gqz7mb4t2o5wcf8rjy6kphudsnea0l3ytkpdhqrvcxz1578"
NEXT_PUBLIC_CLIENT_SECRET="m4q7xv9zb2tgc8rjy6kphudsnea0l3ow5ytkpdhqrvcfz926bt"

NEXT_PUBLIC_ORG_NAME="Bond Bank"
NEXT_PUBLIC_ORG_CODE="ORG2025002"
NEXT_PUBLIC_SERIAL_CODE="BOAB20240202"